.container{
    background-color: aliceblue;
    height: 100%;
    border-radius: 10px;
}
.toolbar{
    border-radius: 10px;
    background-color: #E0E2EC;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    user-select: none;
}
.back{
    position: fixed;
    cursor: pointer;
    user-select: none;
    margin-top: 10px;
    margin-left: 10px;
}