<div class="container">
    <div class="back" (click)="goToHome()">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </div>
    <div class="toolbar">Notes</div>
    @if(note) {
        <mat-card class="card">
            <mat-card-header>
            <mat-card-title>{{note.title}}</mat-card-title>
            <mat-card-subtitle>{{note.creationDate}} -- {{note.numberOfWords}} words</mat-card-subtitle>
            </mat-card-header>
            <br>
            <mat-card-content>
            <p>{{note.content}}</p>
            </mat-card-content>
            <mat-card-actions class="actions">
            <button mat-button color="warn">Delete</button>
            <button mat-button disabled>Save</button>
            </mat-card-actions>
        </mat-card>
    }
    
</div>