<div class="container">
    <div class="back" (click)="goToHome()">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
    </div>
    <div class="toolbar">Notes</div>
    <br>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. Harry Potter" [(ngModel)]="title" name="title">
        </mat-form-field>
      
        <mat-form-field class="example-full-width" style="height: 450px;">
          <mat-label>Type whatever you want</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="content" name="content"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </form>
</div>

